.about__container {
  padding-top: 120px;
  padding-bottom: 7px;
  display: grid;
  grid-template-columns: minmax(300px, 355px) 1fr;
  gap: 85px;
  color: $color-sapphire;
  padding-left: 60px;

  @include vp-1199 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 16px;
    gap: 43px;
    padding-left: 0;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 110px;
    gap:33px
  }
}

.about .container {
  @include vp-767 {
   padding: 0;
  }
}

.about__description {
  padding-top: 40px;

  @include vp-1199 {
    padding-top: 0;
    text-align: center;
  }

  @include vp-767 {
    padding: 0 15px;
    text-align: left;
  }
}

.about h2 {
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
  margin-bottom: 5px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    margin-bottom: -1px;
    margin-left: -16px;
    font-size: 42px;
    line-height: 50px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-left: 0;
    margin-bottom: 4px;
  }
}

.about h3 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 35px;
  }

  @include vp-767 {
    margin-bottom: 25px;
  }
}

.about p {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;

  @include vp-1199 {
    max-width: 510px;
    margin: auto;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about__description p:last-of-type {
  @include vp-1199 {
    display: none;
  }
}

.about__media {
  width: 100%;
  // height: 65%;
}

.about__picture img {
  background-color: $color-ghost-white;
  width: 100%;
  height: 100%;

  @include vp-1199 {
    aspect-ratio: 678/345;
  }

  @include vp-767 {
    object-fit: cover;
    aspect-ratio: 320/313;
  }
}

.about__video {
  margin: 0;
  position: relative;
  width: 55%;
  min-height: 228px;
  background-color: $color-sapphire;
  transform: translate(-17%, -50%);

  @include vp-1199 {
    min-height: 167px;
    width: 39%;
    transform: translate(78%, -50%);
  }

  @include vp-767 {
    transform: translate(0, 40px);
    width: 100%;
    aspect-ratio: 2/1;
  }
}

.about__button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;


  @include vp-1199 {
    width: 73px;
    height: 73px;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &::before {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-image: url("../img/svg/button-play.svg");

    @include vp-1199 {
      width: 73px;
      height: 73px;
    }
  }
}

.about__video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about__player {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 200;
  background-color: $color-default-black;

  & iframe {
    width: 100%;
    height: 100%;
  }
}
