.contacts__container {
  display: flex;
  width: 100%;
}

.contacts__trial {
  width: 50%;
  border-top: 1px solid $color-sapphire;
  background-color: $color-sapphire;
  color: $color-default-white;
  padding: 56px 170px 68px 103px;
}

.contacts__info {
  width: 50%;
  padding: 56px 159px 61px 120px;
  border-top: 1px solid $color-light-slate-grey;
}
