.custom-input,
.custom-textarea {
  position: relative;

  &.is-invalid {
    input,
    textarea {
      border: 1px solid #ff1553;

      &:focus,
      &:hover {
        border: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 1px solid #22b259;

      &:focus,
      &:hover {
        border: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -14px;
    font-size: 10px;
    line-height: 11px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
