.header {
  padding-top: 30px;
  padding-bottom: 94px;
  color: $color-default-white;
  background: $header-bg;

  @include vp-1199 {
    background: $header-bg-tablet;
    padding-top: 40px;
    padding-bottom: 105px;
  }

  @include vp-767 {
    background: $header-bg-mobile;
    padding-top: 15px;
    padding-bottom: 78px;
  }
}

.header__navigation {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  @include vp-1199 {
    width: 82px;
    height: 17px;
  }

  @include vp-767 {
    width: 69px;
    height: 24px;
  }
}

.header__logo svg {
  display: block;
  width: 100%;
  height: 100%;
}

.header__tel-wrapper {
  display: flex;
  flex-direction: column;

  @include vp-1199 {
    margin-top: -6px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}


.header__navigation a {
  font-family: $ff-alumni-sans;
  color: $color-default-white;
  text-decoration: none;
  font-size: 26px;
  line-height: 31px;
  font-weight: 600;
  letter-spacing: 0.03em;

  @include hover-focus {
    color: $color-sapphire;
  }

  @include vp-1199 {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
