.offers__container {
  padding-top: 100px;
  padding-bottom: 67px;

  @include vp-1199 {
    padding-top: 91px;
    padding-bottom: 40px;
  }

  @include vp-767 {
    padding-top: 32px;
  }
}

.offers__container h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 34px;
  font-family: $ff-alumni-sans;
  text-align: center;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 41px;
    margin-left: -8px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 41px;
  }
}

.offers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);

  @include vp-1199 {
    gap: 30px;
    grid-template-rows: auto minmax(211px, min-content);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, minmax(211px, min-content));
  }
}

.offers__item {
  display: flex;
  flex-direction: column;
  color: $color-resolution-blue;
  border: 7px solid;
  border-image-slice: 1;
  border-image-source: $border-effect;
  padding: 24px 28px;
  box-sizing: border-box;

  h3 {
    margin: 0;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 26px;
    line-height: 28px;
  }

  p {
    margin: 0;
    margin-bottom: 15px;
  }

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
    align-items: center;
    text-align: center;
  }
}

.offers__button {
  color: $color-resolution-blue;
  border: none;
  padding: 0;
  margin: auto 0 5px;
  align-self: flex-start;
  border-bottom: 1px solid $color-resolution-blue;

  @include vp-767 {
    align-self: center;
  }
}

.offers__item--unlimited {
  position: relative;
  background-color: $color-torch-red;
  color: $color-default-white;
  grid-row: 1/3;
  min-height: 462px;
  border: none;
  padding: 33px 45px 45px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/content/promotion.jpg");
    background-image: url("../img/content/promotion.webp");
    background-color: $color-cornflower-blue;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 32%;
    width: 50%;
    top: 0;
    right: 0;
    height: 100%;

    @include retina {
      background-image: url("../img/content/promotion@2x.jpg");
      background-image: url("../img/content/promotion@2x.webp");
    }

    @include vp-1199 {
      width: 59%;
      background-size: cover;
      background-position: unset;
    }

    @include vp-767 {
      width: 100%;
      height: 50%;
      top: 50%;
    }
  }

  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 44px;
  }

  span {
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    margin-top: -11px;
    margin-bottom: 18px;
  }

  p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 15px;
  }

  .offers__button {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 0;
    color: $color-default-white;
    border: none;
    border-bottom: 1px solid $color-default-white;
  }

  @include vp-1199 {
    grid-row: 1/2;
    grid-column: 1/3;
  }

  @include vp-767 {
    min-height: 598px;
    grid-column: 1/1;

    span {
      margin-bottom: 13px;
    }

    .offers__button {
      margin-top: 16px;
    }
  }
}

.offers__content {
  display: flex;
  flex-direction: column;
  width: 41%;
  height: 100%;

  @include vp-1199 {
    width: 36%;
  }

  @include vp-767 {
    align-items: center;
    width: 100%;
    text-align: center;
  }
}
