.social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 6px 11px;
  margin-top: 3px;
  min-width: 100px;

  @include vp-1199 {
    // min-width: 91px;
    // column-gap: 15px;
  }

  @include vp-767 {
    margin-top: 3px;
    margin-left: -6px;
    column-gap: 2px;
    align-self: self-start;
  }
}

.social svg {
  @include vp-1199 {
    width: 25px;
    height: 25px;
  }
}

.social a {
  // fill: $color-alice-blue;
  display: flex;
  border-radius: 4px;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;

  // @include hover-focus {
  //   opacity: 0.8;
  //   outline: 1px solid $color-alice-blue;
  // }

  // &:active {
  //   fill: $color-lochmara;
  // }
}
