.tabs {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-top: 2px;
}

.tabs__controls {
  position: relative;
  display: flex;
  gap: 46px;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: 45px;
    gap: 54px;
  }

  @include vp-767 {
    margin-bottom: 34px;
    gap: 45px;
  }

  &::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: rgba($color-grey, 0.2);
  }
}

.tabs__control {
  padding: 0;
  padding-top: 15px;
  padding-bottom: 13px;
  text-transform: none;
  letter-spacing: unset;
  position: relative;
  cursor: pointer;
  margin: 0;
  opacity: 0.5;
  min-width: auto;
  border: none;
  background-color: transparent;
  justify-content: center;
  color: $color-sapphire;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  @include vp-1199 {
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 24px;
  }

  @include hover-focus {
    opacity: 1;
    color: $color-crimson;
  }

  &.is-active {
    opacity: 1;
    pointer-events: none;
  }
}

.tabs__control.is-active::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: $color-crimson;

}

.tabs__content {
  transition: height 0.3s;
}

.tabs__element {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 40px;
  width: 100%;

  @include vp-1199 {
    grid-template-columns: 1fr;
    padding-left: 118px;
    padding-right: 118px;
  }

  @include vp-767 {
    padding: 0;
    gap: 35px;
  }
}

.tabs--unset .tabs__content {
  height: 100px;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__item {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 54px 70px 61px;
  border: 7px solid transparent;

  @include vp-1199 {
    padding-left: 111px;
    padding-right: 111px;
  }

  @include vp-767 {
    padding: 44px 35px 46px;
  }

  &:hover,
  &:focus-within,
  &:active {
    border: 7px solid;
    border-image-slice: 1;
    border-image-source: $border-effect;

    .tabs__button {
      color: $color-default-white;
      background: $button-effect;
      border-image-slice: 1;
      border-image-source: $button-effect;
    }
  }
}

.tabs__item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 26px;
  line-height: 29px;

  @include vp-767 {
    font-size: 22px;
    line-height: 24px;
  }
}

.tabs__item p {
  margin: 0;
  margin-bottom: 66px;

  @include vp-767 {
    margin-bottom: 53px;
  }
}

.tabs__price {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  z-index: 0;
  margin-bottom: 32px;

  @include vp-767 {
    margin-bottom: 29px;
  }
}

.tabs__price svg {
  @include vp-767 {
    width: 24px;
    height: 33px;
  }
}

.tabs__item span {
  position: relative;
  color: $color-egyptian-blue;
  font-weight: 700;
  font-size: 60px;
  line-height: 90px;

  @include vp-767 {
    font-size: 48px;
    line-height: 72px;
  }

  &::after {
    position: absolute;
    content: attr(data-price);
    color: $color-whisper;
    font-weight: 700;
    font-size: 100px;
    line-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    left: -15%;
    bottom: -7%;
    opacity: 0.48;

    @include vp-767 {
      font-size: 80px;
      line-height: 120px;
    }
  }
}

.tabs__button {
  color: $color-sapphire;
  border: 2px solid $color-sapphire;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
}
