.trainers .container {
  position: relative;
  max-width: 1366px;
  padding-left: 103px;
  padding-right: 103px;

  @include vp-1199 {
    padding-left: 101px;
    padding-right: 101px;
  }

  @include vp-767 {
    padding-left: 47px;
    padding-right: 47px;
  }
}

.trainers__container {
  padding-top: 56px;
  padding-bottom: 140px;

  @include vp-1199 {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 34px;
    padding-bottom: 69px;
  }
}

.trainers__container h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 65px;
  letter-spacing: 0.03em;

  @include vp-1199 {
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 32px;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 43px;
  }
}

.trainers__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  cursor: grab;
}

.trainers__item {
  color: $color-default-white;
  position: relative;
  z-index: 0;
  background-color: $color-grey;
}

.trainers__item img {
  width: 100%;
  height: auto;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 260/294;

  @include vp-1199 {
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    aspect-ratio: 226/274;
  }
}

.trainers__item h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.trainers__name {
  position: absolute;
  bottom: 23px;
  width: 100%;
}

.trainers__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 20% 12% 14% 14%;
  color: $color-default-white;
  background-color: $trainers-bg;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;

  @include vp-1199 {
    padding: 52px 47px 58px 39px;
    justify-content: center;
  }

  @include vp-767 {
    padding: 41px 30px 47px 29px;
  }
}

.trainers__description span {
  color: $color-spindle;
  margin-bottom: 30px;
  margin-top: -2px;
}

.trainers__description ul {
  padding: 0;
  margin: 0;
  padding-left: 18%;
  width: 100;
  list-style-type: none;
  overflow: hidden scroll;

  &::-webkit-scrollbar {
    width: 0;
  }


  @include vp-1199 {
    padding-left: 32px;
  }

  @include vp-767 {
    padding-left: 21px;
  }
}

.trainers__description li {
  position: relative;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 9%;
  // margin-bottom: 14px;

  &::before {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    left: -15px;
    top: 7px;
    border-radius: 50%;
    background-color: $color-default-white;
  }
}


.trainers__item:hover .trainers__description,
.trainers__item:focus-within .trainers__description,
.trainers__item:active .trainers__description {
  opacity: 1;
}

.trainers__item:hover .trainers__name,
.trainers__item:focus-within .trainers__name,
.trainers__item:active .trainers__name {
  display: none;
}
